<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>DoggyLife</title>
    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--My Css-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
</head>
<body>

<!-- Image and text Nav Bar-->
<nav class="navbar fancy-font" th:fragment="navbar">
    <a class="navbar-brand" href="/">
        <img src="https://res.cloudinary.com/dmfaehjot/image/upload/v1565629734/DoggyDaycare/lead_720_405_hi5lwd.jpg" width="auto" height="80" class="d-inline-block align-top" alt="Pug Image">
        <span class="fancy-writing ">DoggLife</span>
    </a>

<!--    Dropdown Button-->
    <div class="pos-f-t">

        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-default p-4">
                <!--If the user is logged in this link will be visible-->
                <a sec:authorize="isAuthenticated()" href="/add">Register a Dog</a><br/>

                <!--The user needs a certain role to see this link (USER)-->
                <!--    <a sec:authorize="hasAuthority('USER')" href="#">USER Eyes Only</a>-->
                <a sec:authorize="hasAuthority('ADMIN')" href="/admin">ADMIN Eyes Only</a><br/>
                <!--    <a href="#">Link</a>-->
                <a sec:authorize="!isAuthenticated()" href="/Login">Login</a>

                <a sec:authorize="isAuthenticated()" href="/userProfile">View Profile</a><br/>


            </div>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
<!--End of Nav Bar-->

<div th:fragment="javascript">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</div>
</body>
</html>